version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
      exclude:
        - "no.nav.*"
    open-pull-requests-limit: 10
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
      exclude:
        - "no.nav.*"
    open-pull-requests-limit: 10
    allow:
      - dependency-type: "all"
